<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.william.studentbazaar">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/uta"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroductionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreenActivity"
            android:label="Main" />
        <activity android:name=".ClubDirectory.CreateClubActivity" />
        <activity android:name=".ClubDirectory.ClubMainActivity" />
        <activity android:name=".ClubDirectory.DisplayClubsActivity" />
        <activity android:name=".ClubDirectory.ClubListActivity" />
        <activity android:name=".ClubDirectory.ClubPagerActivity" />
        <!-- <activity android:name=".ClubDirectory.ClubFragment" /> -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".TradeDirectory.ItemListActivity" />
        <activity android:name=".TradeDirectory.ItemPagerActivity" />
        <activity android:name=".TradeDirectory.TradeMainActivity" />
        <activity android:name=".TradeDirectory.CreateItemActivity" />
        <activity android:name=".TradeDirectory.UserItemPagerActivity" />
        <activity android:name=".TradeDirectory.UserItemListActivity" />
        <activity android:name=".TradeDirectory.UpdateItemActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.william.studentbazaar.TradeDirectory.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>

        <activity android:name=".TradeDirectory.SearchItemListActivity" />
        <activity android:name=".SearchDirectory.SearchItemActivity" />
        <activity android:name=".ClubDirectory.ClubAnnouncementActivity" />
        <activity android:name="com.example.allea.studentbazaar.PaymentDirectory.PaymentActivity" />
        <activity android:name=".EventDirectory.CreateEventActivity" />
        <activity android:name=".EventDirectory.EventMainActivity" />
        <activity android:name=".EventDirectory.EventListActivity" />
        <activity android:name=".EventDirectory.EventPagerActivity" />
        <activity android:name=".EventDirectory.EventFragment"></activity>
    </application>

</manifest>